@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #aae2e25d;
    margin: 1.3em;
    padding: 0;
    width: 50%;
    

}
nav {
    background-color: #ced682;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgb(249, 244, 244);
    border-radius: 10px;
    border: 1px solid #101105;
    width: 50%;
    position: relative;
    top: 0;
    z-index: 1000;
    }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px; /* Ajusta el espacio entre elementos de menú según sea necesario */
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}


a {
    color: #333;
    text-decoration: none;
}
.JAVASCRIPT { 
    color: #333;
    text-decoration: none;


}



